<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BairroServlet</servlet-name>
        <servlet-class>Controle.BairroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProprietarioServlet</servlet-name>
        <servlet-class>Controle.ProprietarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImovelServlet</servlet-name>
        <servlet-class>Controle.ImovelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BairroServlet</servlet-name>
        <url-pattern>/BairroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProprietarioServlet</servlet-name>
        <url-pattern>/ProprietarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImovelServlet</servlet-name>
        <url-pattern>/ImovelServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
